*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.gridmain{
    display: flex;
    background-color: white;
    grid-area: ggrid;
    margin: 30px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: row;

}

.gridmain_item_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid;
    padding: 10px;

}  
.gridmain_item_card_texto_boton{
    width: 50%;
} 
.gridmain_item_card_img{
    height: 300px;
    width: 330px;

    padding-bottom: 10px;
}

.gridmain_item_card_texto_producto {
    padding-bottom: 10px;
}
.gridmain_item_card_cantidad{
    margin-bottom: 10px;
    width:80%;
}
.gridmain_item_card_selector{
    margin-bottom: 10px;
   width:80%;
}
.gridmain_item_card_texto_precio{
    margin-bottom: 10px;
  
}
.color_producto{
    background-color: black;
    border-radius: 50%;
    border: solid;
    height: 15px;
    width: 15px;
}
.salida_color{
 
    display: flex;
    flex-direction: row;
    align-items: center;

}
